@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "NexaRust";
    src: url("fonts/NexaRustHandmade-Extended.otf") format("opentype");
}
@font-face {
    font-family: "EmilyOlivia";
    src: url("fonts/Emily\ Olivia.otf") format("opentype");
}
@font-face {
    font-family: "HaveIdea";
    src: url("fonts/Have\ Idea.ttf") format("truetype");
}
@font-face {
    font-family: "HelloMickeys";
    src: url("fonts/Hello\ Mickeys.ttf") format("truetype");
}
@font-face {
    font-family: "Love";
    src: url("fonts/Love.ttf") format("truetype");
}

div::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

:root {
    color-scheme: only light;
}

.dataTables_filter input {
    border: 1px solid;
}
