@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
}

div::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}
